<% provide(:title, "About") %>
<h1>About</h1>
<p>
<a href="https://github.com/6reg/rails-app.git"><em>6reg's rails app</em></a> is based on a tutorial @ <a href="https://railstutorial.org">railstutorial.org</a>.
</p>
